In [1]:
# 1. Unique Words in a Sentence

# Taking input from user
sentence = input("Enter sentence: ")

# Split sentence into words
words = sentence.split()

# Convert list to set to remove duplicates
unique_words = set(words)

# Print results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'python', 'and', 'easy', 'powerful', 'is'}

In [2]:
# 2. Highest salary from employee data

# given employee data
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# find employee with highest salary
highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

# Print result
print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [3]:
# 3.Find maximum and minimum values

# given list
numbers = [45, 22, 89, 10, 66]

# initialize max and min with first element
maximum = numbers[0]
minimum = numbers[0]

# Compare each element
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

# Print results
print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
# 4.Count products above a price threshold

# given list of prices
prices = [450, 1200, 899, 1500, 300]

count = 0

# Check each price
for price in prices:
    if price > 1000:
        count += 1

# Print result
print("Products above 1000:", count)

Products above 1000: 2

In [5]:
# 5. Calculate attendence percentage

# given attendance list
attendance = ["P", "P", "A", "P", "P"]

present_count = 0

# count number of "P"
for status in attendance:
    if status == "P":
        present_count += 1

# calculate percentage
total_days = len(attendance)
percentage = (present_count / total_days) * 100

# print result
print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [6]:
# 6. Remove duplicate phone numbers

# given list of phone numbers
phone_numbers = [9876543210, 9123456789, 9876543210]

# convert list to set to remove duplicates
unique_numbers = set(phone_numbers)

# print result
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [7]:
# 7. Count charecter frequency

#given string
text = "pythonp"

#empty dictionary
char_count = {}

#count each character
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

# print result
print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
# 8. Convert list to tuple

# given list
numbers = [10, 20, 30]

# convert list to tuple
numbers_tuple = tuple(numbers)

# print result
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

In [10]:
# 9. Check if a key exists in a dictionary

# given dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# key to check
Key_to_check = "Ravi"

# check if key exists
if Key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [11]:
# 10. Calculate average marks

# given list of marks
marks = [70, 75, 80, 65]

# calculate sum
total = sum(marks)

# calculate average
average = total / len(marks)

# print result
print("Average Marks:", average)

Average Marks: 72.5